<td>
  <table>
    <tbody>
      <li  class="asks" *ngFor="let ask of asks; let i=index; async">
        <tr>
          <td align="right" valign="top" class="title">
            <span class="rank">{{i + 1}}</span>
          </td>
          <td valign="top" class="votelinks">

              <span [style.visibility]="!ask.voted ? 'visible' : 'hidden'">
              <a (click)="vote(i)" >
                <div class='votearrow' title='upvote'></div>
              </a>
            </span>

          </td>
          <td>
            <a class="title" href="http://{{ask.url}}" class="storylink">{{ask.title}}</a>
            <span class="sitebit comhead"> ( {{ask.url}} ) </span>
          </td>
        </tr>
        <tr>
          <td colspan="2">
          </td>
          <td class="subtext">
            <span class="score"> {{ask.upvotes_count}} </span> by
            <a style="color:grey"routerLink="/user/{{ask.user_id}}" routerLinkActive="active"> {{ask.user_name}} </a>
            <span class="time"> {{ask.created_at| timeAgo}} </span>
			<span [hidden]="!ask.voted">
              <a style="color:grey" (click)="unvote(i)"> unvote </a> |
            </span>
            <span class="comments">
              <a style="color:grey" routerLink="/post/{{ask.id}}" routerLinkActive="active">{{ask.nComments}} comments </a>
            </span>
			<span class = "del" *ngIf="idsesion === ask.user_id"> |
			<a style="color:grey"class="deletePost" (click)="deletePost(i)">delete</a>
			</span>
          </td>
        </tr>
        <tr class="spacer" style="height:5px">
        </tr>
        <!--
        {{i + 1}}
        <a ng-href="google.com">{{ask.title}}</a> ({{ask.link}})
        {{ask.upvotes_count}} points by {{ask.id}} {{ask.created_at| timeAgo}}| <a href="/ask/{{ask.id}}">{{ask.nComments}} comments </a><br>-->
      </li>
    </tbody>
  </table>
</td>
