.navbar{
  font-family: Verdana, Geneva, sans-serif;
}
.hname{
  font-weight: bold;
  color: black;
  text-decoration: none;
}
.login:hover{
  cursor:pointer;
  text-decoration: underline;
}
a{
  text-decoration: none;
  color: black;
}
a:hover{
  text-decoration: underline;
}
