<table class="navbar"  border="0" cellpadding="0" cellspacing="0" width="85%" bgcolor="#f6f6ef">
  <tbody>
    <tr>
      <td bgcolor="#ff6600">
        <table border="0" cellpadding="0" cellspacing="0" width="100%" style="padding:2px">
          <tbody>
            <!--Foto -->
            <td style="width:18px;padding-right:4px">
              <a routerLink="/" routerLinkActive="active">
                <img src="https://news.ycombinator.com/y18.gif" width="18" height="18" style="border:1px white solid;">
              </a>
            </td>
            <!--Texto -->
            <td style="line-height:12pt; height:10px;">
              <span class="pagetop">
                <a class="hname" routerLink="/" routerLinkActive="active">Hacker News </a>
                <a routerLink="/newest" routerLinkActive="active">new</a> |
                <span class = "thr" *ngIf=user>
                  <a id="th" routerLink="/threads/{{id}}" routerLinkActive="active">threads</a> |
                </span>
                <a routerLink="/ask" routerLinkActive="active"ask>ask</a>
                <span class = "thr" *ngIf=user>
                  | <a routerLink="/submit" routerLinkActive="active">submit</a>
                </span>
                <!--Submit-->

              </span>
            </td>
          <td style="text-align:right;padding-right:4px;">
            <div *ngIf="!user;else us">
                <a class="login" (click)="login()">login</a>
            </div>
            <ng-template #us>
                <a routerLink="/user/{{id}}" routerLinkActive="active">  {{user}}({{karma}})</a> |
                <a class="login" (click)="logout()">logout</a>
            </ng-template>
          </td>
          </tbody>
        </table>
      </td>
    </tr>
    <tr style="height:10px"></tr>
    <router-outlet></router-outlet>
  </tbody>
</table>
