<table class="fatitem" border="0">
  <tbody>
    <tr class="athing" id="123123123">
      <td valign="top" class="votelinks">
        <span [style.visibility]="!post.voted ? 'visible' : 'hidden'">
          <a (click)="vote()" >
            <div class='votearrow' title='upvote'></div>
          </a>
        </span>
      </td>
      <span *ngIf="post.url; else ask">
  		  <td class="urltitle">
          <a style="color:black" href="{{post.url}}" class="storylink">{{post.title}}</a>
          <span id = "url"> ( <span class="sitestr">{{post.url}}</span> ) </span>
  		  </td>
      </span>
      <ng-template #ask>
        <span class="asktitle">	Ask HN: {{post.title}} </span>
      </ng-template>
	  </tr>
	  <tr>
      <td colspan="1">
      </td>
      <td class="subtext">
        {{post.upvotes_count}} points  by
        <a style="color:grey" routerLink="/user/{{post.user_id}}" routerLinkActive="active"> {{user.name}} </a>
         {{post.created_at| timeAgo}}| {{post.nComments}} comments
         <span [hidden]="!post.voted">
           | <a style="color:grey" (click)="unvote()"> unvote </a>
         </span>
         <span class = "del" *ngIf="idsesion === post.user_id">
           | <a class="deletePost" (click)="deletePost()">delete</a>
		 </span>
      </td>
	  </tr>
    <tr>
      <td colspan="1">
      </td>
	  <td id="text">
		<span class="text1"> {{post.text}} </span>
	  </td>
		</tr>
	  <tr>
      <td colspan="1">
      </td>
	  <span class = "del" *ngIf="idsesion != null">
	  <form #commentForm="ngForm">
	  <textarea rows="4" cols="50" id="comment_to_pass" required [(ngModel)]="comment_to_pass" name="comment_to_pass"
               #name="ngModel"></textarea><br>
      <button type="button" class="btn btn-default" (click)="comment(); commentForm.reset()">Comment</button>
	  </form>
	  </span>
	  </tr>


    <tr class="spacer" style="height:40px">
    </tr>
		<tr>
      <td colspan="1">
      </td>
      <td class="comments">
        <comment [comments] = comments  ></comment>
      </td>
		</tr>
    <tr class="spacer" style="height:5px">
    </tr>
  </tbody>
</table>
