<table class="fatitem" border="0">
  <tbody>
    <tr class="athing" id="123123123">
      <td class="votelinks" valign="top" align="right">
        <a id="up_16898827" href="vote?id=16898827&amp;how=up&amp;goto=news">
          <div class="votearrow" title="upvote"></div>
				</a>
      </td>
		  <td class="title">
        <a href="{{post.url}}" class="storylink">{{post.title}}</a>
        <span id = "url"> ( <span class="sitestr">{{post.url}}</span> ) </span>
		  </td>
	  </tr>
	  <tr>
      <td colspan="1">
      </td>
      <td class="subtext">
          <span class="score"> {{post.upvotes_count}} points </span> by
          <a href="/user/3" class="hnuser">{{name}}</a>
          <span class="time"> {{post.created_at| timeAgo}} </span>
          <span class="comments"> <a href="13">{{post.nComments}} comments</a> </span>
      </td>
	  </tr>
	  <tr>
      <td colspan="1">
      </td>
	  <td id="text">
		<span class="text1"> {{post.text}} </span>
	  </td>
		</tr>
		
    <tr class="spacer" style="height:40px">
    </tr>
		<tr>
      <td colspan="1">
      </td>
      <td class="comments">
        <comment [comments] = comments  ></comment>
      </td>
		</tr>
    <tr class="spacer" style="height:5px">
    </tr>
  </tbody>
</table>
