<li class="comments" *ngFor="let comment of comments; let i=index">
    <table class="fatitem" border="0">
      <tbody>
        <tr class="athing" id="123123123">
          <td class="votelinks" valign="top" align="right">
              <a id="up_16898827" href="vote?id=16898827&amp;how=up&amp;goto=news">
							<div class="votearrow" title="upvote"></div>
							</a>
					</td>
					<td class="uppertext" style="color: #808080; font-size: 12px">
						<span class="user"> {{comment.usuari}}</span> <!-- Link usuario -->
						<span class="time"> {{comment.created_at| timeAgo}}</span> |
						<span class="score"> {{comment.votes}} points </span>
					</td>
					</tr>
			<tr>
            <td colspan="1">
            </td>
            <td class="subtext">
              <span class="text">{{comment.text}}</span>
            </td>
			</tr>
			<tr>
            <td colspan="1">
            </td>
            <td class="reply">
			<span class = "del" *ngIf="idsesion != null">
              <a routerLink="/reply/{{comment.id}}" routerLinkActive="active">reply</a>
              <span [hidden]="comment.voted">
                <a (onclick)="vote(i)"> vote </a>
              </span>
              <span [hidden]="!comment.voted">
                <a (onclick)="unvote(i)"> unvote </a>
              </span>
			  </span>
			  <span class = "del" *ngIf="idsesion === comment.user_id"> |
				<a class="deleteComment" (click)="deleteComment(i)">delete</a>
			  </span>
            </td>
			</tr>
			<tr>
             <td colspan="1"></td>
             <td class="replies">
               <comment [reply] = comment.id  ></comment>
             </td>
					</tr>
      </tbody>
  </table>
</li>
