.comments{
  list-style-type: none;
}
.subbarra{
  color: grey;
  font-size: 12px;

}
a{
  text-decoration: none;
}
a:hover{
  text-decoration: underline;
}
.l:hover{
  cursor: pointer;
  text-decoration:  underline;
}
